/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

header
    padding: 15px 0
    background-color: $primaryBg

.logo
    &__svg
        width: 163px
        height: 20px

.catalog
    font: 16rem $primaryFont
    font-weight: 500
    &__svg
        width: 24px
        height: 24px

